<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Light App - Right</title>
<link href="__CSS__/page.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="__JS__/window.js"></script>
</head>
<body bgcolor="#F7F7F7">
<div class="content">
	
    <div class="content_top">&nbsp;&nbsp;&nbsp;现在的位置为-&gt;</div>
    
    <div class="m_content">
   
    	<div class="keywords_show">当前搜索关键字为: search</div>
    	<div class="search">
        	<form name="v_search" method="post" action="#">
            <input type="text" name="keywords" value="搜索：请输入关键字" onfocus="clear_d();" onblur="clear_d()" />
            <input type="submit" value="" class="buttun">
            </form>
        </div>
        
        <div class="real_c">
			<!-- 网站内容部分 -->
			这里是管理的主要内容部分
        </div>
    </div>
    
    <div class="b_border">&nbsp;</div>
    
</div>
</body>
</html>
