<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>购物车页面</title>

		<link href="/Public/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="/Public/basic/css/demo.css" rel="stylesheet" type="text/css" />
		<link href="/Public/css/cartstyle.css" rel="stylesheet" type="text/css" />
		<link href="/Public/css/optstyle.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="/Public/js/jquery.js"></script>

	</head>

	<body>
		
		<include file="FrontCommon/header" />

			<div class="clear"></div>

			<!--购物车 -->
			<div class="concent">
				<div id="cartTable">
					<div class="cart-table-th">
						<div class="wp">
							<div class="th th-chk">
								<div id="J_SelectAll1" class="select-all J_SelectAll">

								</div>
							</div>
							<div class="th th-item">
								<div class="td-inner">商品信息</div>
							</div>
							<div class="th th-price">
								<div class="td-inner">单价</div>
							</div>
							<div class="th th-amount">
								<div class="td-inner">数量</div>
							</div>
							<div class="th th-sum">
								<div class="td-inner">金额</div>
							</div>
							<div class="th th-op">
								<div class="td-inner">操作</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					
					<tr class="item-list">
						<div class="bundle  bundle-last ">
							<div class="bundle-hd">
								<div class="bd-promos">
									<div class="bd-has-promo">已享优惠:<span class="bd-has-promo-content">省￥19.50</span>&nbsp;&nbsp;</div>
									<div class="act-promo">
										<a href="#" target="_blank">第二支半价，第三支免费<span class="gt">&gt;&gt;</span></a>
									</div>
									<span class="list-change theme-login">编辑</span>
								</div>
							</div>
							<div class="clear"></div>

							<div class="bundle-main">
							<foreach name="cart" item="vo">
								<div class="common_father">
								<ul class="item-content clearfix">
									<li class="td td-chk">
										<div class="cart-checkbox ">
											<input class="check" id="J_CheckBox_170037950254" name="items[]" value="170037950254" type="checkbox" >
											<label for="J_CheckBox_170037950254"></label>
										</div>
									</li>
									<li class="td td-item">
										<div class="item-pic">
											<a href="#" target="_blank" data-title="{$vo.goods_name}" class="J_MakePoint" data-point="tbcart.8.12">
												<img style="width:100%;height:100%;" src="{$vo.goods_thumb}" class="itempic J_ItemImg"></a>
										</div>
										<div class="item-info">
											<div class="item-basic-info">
												<a href="#" target="_blank" title="{$vo.goods_name}" class="item-title J_MakePoint" data-point="tbcart.8.11">{$vo.goods_name}</a>
											</div>
										</div>
									</li>
									<li class="td td-info">
										<div class="item-props item-props-can">
											<span class="sku-line">口味：{$vo.goods_type}</span>
											<span class="sku-line">包装：{$vo.goods_package}</span>
											<span tabindex="0" class="btn-edit-sku" onclick="changeGoods(this)">修改</span>
											<i class="theme-login am-icon-sort-desc"></i>
										</div>
									</li>
									<li class="td td-price">
										<div class="item-price price-promo-promo">
											<div class="price-content">
												<div class="price-line">
													<em class="price-original">{$vo.ori_price}</em>
												</div>
												<div class="price-line">
													<em class="J_Price price-now" tabindex="0">{$vo.goods_cost}</em>
												</div>
											</div>
										</div>
									</li>
									<li class="td td-amount">
										<div class="amount-wrapper ">
											<div class="item-amount ">
												<div class="sl">
													<input class="min am-btn" name="decrease" type="button" value="-" onclick="decrease(this)"/>
													<input class="text_box text_box_num" name="" type="text" value="{$vo.goods_num}" style="width:30px;" onblur="writeNum(this)" onfocus="prevNum(this)"/>
													<input class="add am-btn" name="increase" type="button" value="+" onclick="increase(this)"/>
													<!-- 设置此记录商品的购物车记录id -->
													<input type="hidden" id="cart_id" value="{$vo.cart_id}">
												</div>
											</div>
										</div>
									</li>
									<li class="td td-sum">
										<div class="td-inner">
											<em tabindex="0" class="J_ItemSum number">{$vo.single_cost}</em>
										</div>
									</li>
									<li class="td td-op">
										<div class="td-inner">
											<a title="移入收藏夹" class="btn-fav" href="#">
                  移入收藏夹</a>
											<a href="javascript:;" data-point-url="#" class="delete" onclick="deleteSingle(this)">
                  删除</a>
										</div>
									</li>
								</ul>
								<!--操作页面-->
							
								<div class="theme-popover-mask"></div>
								<!-- <div class="theme-popover"> -->
								<div class="location hide">
									<div class="theme-span"></div>
									<div class="theme-poptit h-title">
										<a href="javascript:;" title="关闭" class="close">×</a>
									</div>
									<div class="theme-popbod dform">
										<form class="theme-signin" name="loginform" action="" method="post">

											<div class="theme-signin-left">

												<li class="theme-options">
													<div class="cart-title">口味：</div>
													<ul id="change_type">
													<foreach name="vo.type" item="type">
														<eq name="key" value="0">
														<li class="sku-line selected" onclick="change_attr(this)">{$type}<i></i></li>
														<else/>
														<li class="sku-line" onclick="change_attr(this)">{$type}<i></i></li>
														</eq>
													</foreach>
														<input type="hidden" value="{$vo.goods_id}" id="goods_id" />
													</ul>
												</li>
												<li class="theme-options">
													<div class="cart-title">包装：</div>
													<ul id="change_package">
													<foreach name="vo.package" item="package">
														<eq name="key" value="0">
														<li class="sku-line selected">{$package}<i></i></li>
														<else/>
														<li class="sku-line">{$package}<i></i></li>
														</eq>
													</foreach>
													</ul>
												</li>
												
												<div class="theme-options">
													<div class="cart-title number">数量</div>
													<dd>
														<input class="min am-btn am-btn-default" name="" type="button" value="-" />
														<input class="text_box" name="" type="text" value="1" style="width:30px;" />
														<input class="add am-btn am-btn-default" name="" type="button" value="+" />
														<span  class="tb-hidden">库存<span class="stock">{$vo.num.0}</span>件</span>
													</dd>

												</div>
												<div class="clear"></div>
												<div class="btn-op">
													<div class="btn am-btn am-btn-warning" onclick="sureChange(this)">确认</div>
													<div class="btn close am-btn am-btn-warning" onclick="hideModel(this)">取消</div>
													<input type="hidden" value="{$vo.goods_id}" id="goods_id" />
													<input type="hidden" value="{$vo.cart_id}" id="cart_id" />
												</div>

											</div>
											<div class="theme-signin-right" style="height:300px;">
												<div class="img-info" >
													<img src="{$vo.goods_thumb}" />
												</div>
												<div class="text-info">
													<span class="J_Price price-now">{$vo.discount.0}</span>
													<span id="Stock" class="tb-hidden">库存<span class="stock">{$vo.num.0}</span>件</span>
												</div>
											</div>
										</form>
									</div>
								</div>
								</div>
								</foreach>
								<script>
								//必选选择口味和包装
								$(".sku-line").click(function(){
									$(this).parents(".theme-options").find(".sku-line").each(function(){
										$(this).removeClass("selected");
									});
								})

								//弹出修改商品信息
								function changeGoods(obj){
									$(obj).parents(".clearfix").siblings(".location").removeClass("hide");
								}

								//修改商品处点击不同属性时，价钱和库存的变化
								function change_attr(obj){
									var goods_id = $(obj).siblings("#goods_id").val();
									var type = $(obj).text();
									$.post(
										'/Api/Goods/change_type',
										{goods_id:goods_id,data:type},
										function(ret){
											var attr = eval('('+ret+')');
											//修改div下方库存
											$(obj).parents(".theme-options").siblings().find(".stock").text(attr.goods_num);
											//修改右边价钱
											$(obj).parents(".theme-signin-left").siblings(".theme-signin-right").find(".price-now").text(attr.goods_discount);
											//修改右边库存
											$(obj).parents(".theme-signin-left").siblings(".theme-signin-right").find(".stock").text(attr.goods_num);
										},
										'html'
									);
								}

								//修改商品处的确定按钮
								function sureChange(obj){
									var num = $(obj).parent().siblings(".theme-options").eq(2).find(".text_box").val();
									var type = $(obj).parent().siblings(".theme-options").eq(0).find(".selected").text();
									var package = $(obj).parent().siblings(".theme-options").eq(1).find(".selected").text();
									var price = $(obj).parents(".theme-signin-left").siblings(".theme-signin-right").find(".price-now").text();
									var goods_id = $(obj).siblings("#goods_id").val();
									var cart_id = $(obj).siblings("#cart_id").val();
									$.post(
										'/Api/Goods/changeCart',
										{goods_num:num,goods_type:type,goods_package:package,goods_cost:price,goods_id:goods_id,cart_id:cart_id},
										function(ret){
											window.location.href="/home/pay/shopcart";
										}
									);
								}

								//修改商品处的取消按钮
								function hideModel(obj){
									$(obj).parents(".location").addClass("hide");
								}

								//删除单个商品记录
								function deleteSingle(obj){
									var bool = window.confirm("你确定要删除吗？");
									if (bool != true) return;
									var cart_id = $(obj).parents(".td-op").siblings(".td-amount").find("#cart_id").val();	//获取要删除的购物车表cart_id
									$.post(
										'/Api/Goods/delOne',
										{"cart_id":cart_id},
										function(ret){

										}
									);
									$(obj).parents(".clearfix").remove();	//移除所在的商品div

								}

								//当数量为1时，decrease的button为disabled
								$(function(){
									$(".text_box_num").each(function(){
										if( $(this).val() <= 1 ){
											$(this).prev().attr("disabled", true);
										} 
									});
									
								})


								//减少按钮事件
								function decrease(obj){
									
									var single_cost = parseFloat($(obj).parents(".td-amount").prev().find(".price-now").text());	//获取单价
									var num = $(obj).next().val();	//获取数量

									num--;
									if( num<2 ){
										$(obj).attr("disabled", true);
										num = 1;
										$(obj).next().val(2);
									}

									var price = (single_cost * num).toFixed(2);	//得出单商品的金额
									$(obj).parents(".td-amount").next().find(".J_ItemSum").text(price);	//设置

									//先检测该"-"按钮所在商品的checkbox是否勾选
									var is_check = $(obj).parents(".clearfix").find(".check").attr('checked');
									// 如果checkbox为勾选状态，则点击"-"会影响合计金额
									if( is_check == 'checked'){
										// 先获取未点击"-"前，该条商品费用
										var prev_price = (single_cost * (num+1)).toFixed(2);
										var total_money = $("#J_Total").text();	//获取未改变前合计金额
										var redu_money = $(obj).parents(".td-amount").next().find(".J_ItemSum").text();	//"-"操作后，该条商品的费用
										var result_money = parseFloat(total_money) - parseFloat(prev_price) + parseFloat(redu_money);	//得出变化后合计金额
										$("#J_Total").text(result_money.toFixed(2));	//设置变化后合计金额
									}

									var cart_id = $(obj).siblings("#cart_id").val();
									$.post(
										'/Api/Goods/GoodsNumDec',
										{"num":num,"cart_id":cart_id},
										function(ret){
											
										}
									);
								}

								//增加按钮事件
								function increase(obj){
									var single_cost = parseFloat($(obj).parents(".td-amount").prev().find(".price-now").text());	//获取单价
									var num = $(obj).prev().val();	//获取数量
									num++;
									if( num > 1 ){
										$(obj).prev().prev().attr("disabled", false);	//num大于1,desrease为enabled
									}

									var price = (single_cost * num).toFixed(2);	//得出单商品的金额
									$(obj).parents(".td-amount").next().find(".J_ItemSum").text(price);	

									//先检测该"-"按钮所在商品的checkbox是否勾选
									var is_check = $(obj).parents(".clearfix").find(".check").attr('checked');
									// 如果checkbox为勾选状态，则点击"-"会影响合计金额
									if( is_check == 'checked'){
										// 先获取未点击"+"前，该条商品费用
										var prev_price = (single_cost * (num-1)).toFixed(2);
										var total_money = $("#J_Total").text();	//获取未改变前合计金额
										var add_money = $(obj).parents(".td-amount").next().find(".J_ItemSum").text();	//"+"操作后，该条商品的费用
										var result_money = parseFloat(total_money) - parseFloat(prev_price) + parseFloat(add_money);	//得出变化后合计金额
										$("#J_Total").text(result_money.toFixed(2));	//设置变化后合计金额
									}

									var cart_id = $(obj).siblings("#cart_id").val();
									$.post(
										'/Api/Goods/GoodsNumInc',
										{"num":num,"cart_id":cart_id},
										function(ret){
											
										}
									);
									
								}

								//改变数量获得焦点时事件
								var front_num = 0;
								function prevNum(obj){
									var prev_num = $(obj).val();	//获取该条商品数量
									front_num = prev_num;
								}

								//自己填写商品数量时触发事件
								function writeNum(obj){
									var goods_num = $(obj).val();	//获取该条商品数量

									//当输入为小数时，不予接受，替换回原来的数字
									if( parseInt(goods_num)!=goods_num ){
										goods_num = front_num;
										$(obj).val(goods_num);
									}

									//当输入的数量小于1 或 不为数字时
									if( isNaN(goods_num) || goods_num<=1 ){
										goods_num = 1;
										$(obj).val('1');
										$(obj).prev().attr("disabled",true);	//设置"-"键为disabled
									}else{
										$(obj).prev().attr("disabled",false);	//输出数量大于1，'-'可活动
									}
									var single_cost = parseFloat($(obj).parents(".td-amount").prev().find(".price-now").text());	//获取单价
									var price = (single_cost * goods_num).toFixed(2);	//得出该条商品的金额
									//设置该条商品金额
									$(obj).parents(".td-amount").next().find(".J_ItemSum").text(price);

									//先检测该"-"按钮所在商品的checkbox是否勾选
									var is_check = $(obj).parents(".clearfix").find(".check").attr('checked');
									// 如果checkbox为勾选状态，则点击"-"会影响合计金额
									if( is_check == 'checked'){
										// 失去焦点前，该条商品费用
										var prev_price = (single_cost * front_num).toFixed(2);
										var total_money = $("#J_Total").text();	//获取未改变前合计金额
										var add_money = $(obj).parents(".td-amount").next().find(".J_ItemSum").text();	//失去焦点操作后，该条商品的费用
										var result_money = parseFloat(total_money) - parseFloat(prev_price) + parseFloat(add_money);	//得出变化后合计金额
										$("#J_Total").text(result_money.toFixed(2));	//设置变化后合计金额
									}

									var cart_id = $(obj).siblings("#cart_id").val();
									$.post(
										'/Api/Goods/GoodsNumChange',
										{"cart_id":cart_id,"num":goods_num},
										function(ret){

										}
									)
										
								}
								</script>
								
								
													
								
								
								
							</div>
						</div>
					</tr>
					<div class="clear"></div>

					
				</div>
				<div class="clear"></div>

				<div class="float-bar-wrapper">
					<div id="J_SelectAll2" class="select-all J_SelectAll">
						<div class="cart-checkbox">
							<input class="check-all check" id="J_SelectAllCbx2" name="select-all" value="true" type="checkbox">
							<label for="J_SelectAllCbx2"></label>
						</div>
						<span>全选</span>
					</div>
					<script>
					//点击全选checked触发事件
					$("#J_SelectAllCbx2").click(
						function(){ 
						    if(this.checked){ 
						        $("input[name='items[]']").attr('checked', true);
						        var total_num = $("input[name='items[]']:checked").length;	//获取已选商品件数
						        $("#J_SelectedItemsCount").text(total_num);

						        var total = 0;
								$(".J_ItemSum").each(function(){
									total += parseFloat($(this).text());
								});
						    }else{ 
						        $("input[name='items[]']").attr('checked', false);
						        $("#J_SelectedItemsCount").text(0);	//已选商品件数设置为0
						        var total = 0
						    }
						    $("#J_Total").text(total.toFixed(2)); 	//改变合计的价钱
						} 
					);
					</script>
					<div class="operations">
						<a href="javascript:void(0);" hidefocus="true" class="deleteAll" onclick="deleteAll()">删除</a>
						<a href="#" hidefocus="true" class="J_BatchFav">移入收藏夹</a>
					</div>
					<div class="float-bar-right">
						<div class="amount-sum">
							<span class="txt">已选商品</span>
							<em id="J_SelectedItemsCount">0</em><span class="txt">件</span>
							<div class="arrow-box">
								<span class="selected-items-arrow"></span>
								<span class="arrow"></span>
							</div>
						</div>
						<script>
							//点击商品checkbox时，已选商品的变化情况
							$("input[name='items[]']").change(function(){
								var checked_num = $("input[name='items[]']:checked").length;//被选中的商品数量
								$("#J_SelectedItemsCount").text(checked_num);	//设置被选商品数量


								var price = $(this).parents(".clearfix").find(".J_ItemSum").text();
								var check = $(this).attr('checked');
								if ( check == undefined )
								{
									price = parseFloat(price) * (-1);	//取消勾选时，减去此条费用
								}
								var change_money = countMoney(price);	//得出勾选与否操作后的合计费用
								
								$("#J_Total").text(change_money.toFixed(2)); 	//设置合计费用
							});


							var money = 0.00;
							function countMoney(price){
								//如果money不等于合计费用时，使其相等
								if( money != $("#J_Total").text() ) money = $("#J_Total").text();
								money = parseFloat(money) +parseFloat(price);
								return money;
							}
							
							//删除选中的商品记录
							function deleteAll(){
								var bool = window.confirm("你确定要删除吗？");
								if (bool != true) return;

								$("input[name='items[]']:checked").each(function(){
									var cart_id = $(this).parents(".td-chk").siblings(".td-amount").find("#cart_id").val();	//获取要删除的购物车表cart_id
									$.post(
										'/Api/Goods/delAll',
										{"cart_id":cart_id},
										function(ret){

										}
									);
									$(this).parents(".clearfix").remove();
								});
							}
						</script>
						<div class="price-sum">
							<span class="txt">合计:</span>
							<strong class="price">¥<em id="J_Total">0.00</em></strong>
						</div>
						<div class="btn-area">
							<a href="/home/pay" id="J_Go" class="submit-btn submit-btn-disabled" aria-label="请注意如果没有选择宝贝，将无法结算" onclick="settlement()">
								<span>结&nbsp;算</span></a>
						</div>
					</div>

				</div>
				<script>
					function settlement(){
						var cart_array = [];	//定义数组存放被checked的商品购物车id
						$("input[name='items[]']:checked").each(function(){
							var cart_id = $(this).parents(".td-chk").siblings(".td-amount").find("#cart_id").val();	//获取要删除的购物车表cart_id
							cart_array.push(cart_id);
						});
						$.post(
							'/Api/Goods/makeTempOrder',
							{cart_array:cart_array},
							function(ret){

							}
						);
					}
				</script>
				<!--底部-->
				<include file="Person/common/footer" />
				<!-- 底部 -->

			</div>

			
		<!--引导 -->
		<div class="navCir">
			<li><a href="home2.html"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li class="active"><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>	
			<li><a href="/Public/person/index.html"><i class="am-icon-user"></i>我的</a></li>					
		</div>
	</body>

</html>