<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>评价管理</title>

		<link href="/Public/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="/Public/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="/Public/css/personal.css" rel="stylesheet" type="text/css">
		<link href="/Public/css/cmstyle.css" rel="stylesheet" type="text/css">

		<script src="/Public/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="/Public/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
	</head>

	<body>
		<!--头 -->
		<include file="Person/common/header" />
		<!-- 头 -->
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-comment">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">评价管理</strong> / <small>Manage&nbsp;Comment</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-2 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">所有评价</a></li>
								<li><a href="#tab2">有图评价</a></li>

							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="comment-main">
										<div class="comment-list">
											<ul class="item-list">
												<div class="comment-top">
													<div class="th th-price">
														<td class="td-inner">评价</td>
													</div>
													<div class="th th-item">
														<td class="td-inner">商品</td>
													</div>													
												</div>
												<foreach name="pic_comment" item="vo">
												<div style="border-top:#9C9C9C 1px solid;">
												<li class="td td-item">
													<div class="item-pic">
														<a href="#" class="J_MakePoint">
															<img src="{$vo.goods_thumb}" class="itempic">
														</a>
													</div>
												</li>

												<li class="td td-comment" style="height:110px;">
													<div class="item-title">
														<div class="item-opinion" style="display:block;">{$vo.comment_type}</div>
														<div class="item-name">
															<a href="#">
																<p class="item-basic-info">{$vo.goods_name}</p>
															</a>
														</div>
													</div>
													<div class="item-comment">
														{$vo.comment}
													</div>

													<div class="item-info">
														<div>
															<p class="info-little"><span>{$vo.goods_type1}：{$vo.type1_name}</span> <span>{$vo.goods_type2}：{$vo.type2_name}</span> </p>
															<p class="info-time">{$vo.addtime|date="Y-m-d H:i:s",###}</p>

														</div>
													</div>
												</li>
												</div>
												</foreach>
											</ul>
										</div>
									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab2">
								
									<div class="comment-main">
										<div class="comment-list">
											<ul class="item-list">
												<div class="comment-top">
													<div class="th th-price">
														<td class="td-inner">评价</td>
													</div>
													<div class="th th-item">
														<td class="td-inner">商品</td>
													</div>													
												</div>
												<foreach name="nopic_comment"	item="vo">
												<div style="border-top:#9C9C9C 1px solid;">
												<li class="td td-item">
													<div class="item-pic">
														<a href="#" class="J_MakePoint">
															<img src="{$vo.goods_thumb}" class="itempic">
														</a>
													</div>
												</li>											
												
												<li class="td td-comment" style="height:260px;">
													<div class="item-title">
														<div class="item-opinion" style="display:block;">{$vo.comment_type}</div>
														<div class="item-name">
															<a href="#">
																<p class="item-basic-info">{$vo.goods_name}</p>
															</a>
														</div>
													</div>
													<div class="item-comment">
														<div style="width:auto;height:100px;">
														{$vo.comment}
														</div>
														<div class="filePic" style="width:auto;height:100px;">
														<foreach name="vo.picture" item="val">
															<img src="{$val}" alt="图片失效" style="width:100px;height:100px;float:left;">
														</foreach>
														</div>	
													</div>

													<div class="item-info">
														<div>
															<p class="info-little"><span>{$vo.goods_type1}：{$vo.type1_name}</span> <span>{$vo.goods_type2}：{$vo.type2_name}</span> </p>
															<p class="info-time">{$vo.addtime|date="Y-m-d H:i:s",###}</p>

														</div>
													</div>
												</li>
												</div>
												</foreach>	
											</ul>
										</div>
									</div>									
								</div>
							</div>
						</div>

					</div>

				</div>
				<!--底部-->
				<include file="Person/common/footer" />
				<!-- 底部 -->
			</div>

			<!-- 左边 -->
			<include file="Person/common/left" />
			<!-- 左边 -->
		</div>

	</body>

</html>