<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>订单详情</title>

		<link href="/Public/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="/Public/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="/Public/css/personal.css" rel="stylesheet" type="text/css">
		<link href="/Public/css/orstyle.css" rel="stylesheet" type="text/css">

		<script src="/Public/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="/Public/AmazeUI-2.4.2/assets/js/amazeui.js"></script>


	</head>

	<body>
		<!--头 -->
		<include file="Person/common/header" />
		<!-- 头 -->
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-orderinfo">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单详情</strong> / <small>Order&nbsp;details</small></div>
						</div>
						<hr/>
						<!--进度条-->
						<div class="m-progress">
							<div class="m-progress-list">
								<span class="step-1 step">
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                   <p class="stage-name">拍下商品</p>
                                </span>
                                <span class="step-2 step">
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                   <p class="stage-name">付款</p>
                                </span>
								<span class="step-3 step">
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">3<em class="bg"></em></i>
                                   <p class="stage-name">卖家发货</p>
                                </span>
								<span class="step-4 step">
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">4<em class="bg"></em></i>
                                   <p class="stage-name">确认收货</p>
                                </span>
								<span class="step-5 step">
                                   <em class="u-progress-stage-bg"></em>
                                   <i class="u-stage-icon-inner">5<em class="bg"></em></i>
                                   <p class="stage-name">交易完成</p>
                                </span>
								<span class="u-progress-placeholder"></span>
							</div>
							<div class="u-progress-bar total-steps-2">
								<div class="u-progress-bar-inner"></div>
							</div>
						</div>
						<script>
							/**
							 * 进度条变化情况
							 */
							function programList(){
								var status = {$Think.get.status};
								switch( status ){
									case 1:  	//待发货状态
										$(".u-progress-bar-inner").css("width","23%");
										setTimeout(function(){
											$(".step-2 .u-stage-icon-inner .bg").animate({opacity:1});
										},1500);
										break;
									case 2:
										$(".u-progress-bar-inner").css("width","49%");
										setTimeout(function(){
											setTimeout(function(){
												$(".step-3 .u-stage-icon-inner .bg").animate({opacity:1});
											},500);
											$(".step-2 .u-stage-icon-inner .bg").animate({opacity:1});
										},850);
										break;
									case 3:
										$(".u-progress-bar-inner").css("width","75%");
										setTimeout(function(){
											setTimeout(function(){
												setTimeout(function(){
													$(".step-4 .u-stage-icon-inner .bg").animate({opacity:1});
												},250)
												$(".step-3 .u-stage-icon-inner .bg").animate({opacity:1});
											},500);
											$(".step-2 .u-stage-icon-inner .bg").animate({opacity:1});
										},650);
										break;
									case 4:
										$(".u-progress-bar-inner").css("width","101%");
										setTimeout(function(){
											setTimeout(function(){
												setTimeout(function(){
													setTimeout(function(){
														$(".step-5 .u-stage-icon-inner .bg").animate({opacity:1});
													},100)
													$(".step-4 .u-stage-icon-inner .bg").animate({opacity:1});
												},250)
												$(".step-3 .u-stage-icon-inner .bg").animate({opacity:1});
											},400);
											$(".step-2 .u-stage-icon-inner .bg").animate({opacity:1});
										},650);
										break;
								}
							}
							document.onload = programList();
						</script>
						<div class="order-infoaside">
							<div class="order-logistics">
								<a href="logistics.html">
									<div class="icon-log">
										<i><img src="/Public/images/receive.png"></i>
									</div>
									<div class="latest-logistics">
										<p class="text">已签收,签收人是青年城签收，感谢使用天天快递，期待再次为您服务</p>
										<div class="time-list">
											<span class="date">2015-12-19</span><span class="week">周六</span><span class="time">15:35:42</span>
										</div>
										<div class="inquire">
											<span class="package-detail">物流：天天快递</span>
											<span class="package-detail">快递单号: </span>
											<span class="package-number">373269427868</span>
											<a href="logistics.html">查看</a>
										</div>
									</div>
									<span class="am-icon-angle-right icon"></span>
								</a>
								<div class="clear"></div>
							</div>
							<div class="order-addresslist">
								<div class="order-address">
									<div class="icon-add">
									</div>
									<p class="new-tit new-p-re">
										<span class="new-txt">{$common.receiver}</span>
										<span class="new-txt-rd2">{$common.phone}</span>
									</p>
									<div class="new-mu_l2a new-p-re">
										<p class="new-mu_l2cw">
											<span class="title">收货地址：</span>
											<span class="province">{$common.province}</span>
											<span class="city">{$common.city}</span>
											<span class="dist">{$common.district}</span>
											<span class="street">{$common.street}</span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="order-infomain">

							<div class="order-top">
								<div class="th th-item">
									<td class="td-inner">商品</td>
								</div>
								<div class="th th-price">
									<td class="td-inner">单价</td>
								</div>
								<div class="th th-number">
									<td class="td-inner">数量</td>
								</div>
								<div class="th th-operation">
									<td class="td-inner">商品操作</td>
								</div>
								<div class="th th-amount">
									<td class="td-inner">合计</td>
								</div>
								<div class="th th-status">
									<td class="td-inner">交易状态</td>
								</div>
								<div class="th th-change">
									<td class="td-inner">交易操作</td>
								</div>
							</div>

							<div class="order-main">

								<div class="order-status3">
									<div class="order-title">
										<div class="dd-num">订单编号：<a href="javascript:;">{$common.order_id}</a></div>
										<span>成交时间：{$common.addtime|date="Y-m-d H:i:s",###}</span>
										<!--    <em>店铺：小桔灯</em>-->
									</div>
									
									<div class="order-content">
										<div class="order-left">
											<foreach name="order_detail" item="vo">
											<ul class="item-list">
												<li class="td td-item">
													<div class="item-pic">
														<a href="#" class="J_MakePoint">
															<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
														</a>
													</div>
													<div class="item-info">
														<div class="item-basic-info">
															<a href="#">
																<p>{$vo.goods_name}</p>
																<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																	<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
															</a>
														</div>
													</div>
												</li>
												<li class="td td-price">
													<div class="item-price">
														{$vo.goods_price}
													</div>
												</li>
												<li class="td td-number">
													<div class="item-number">
														<span>×</span>{$vo.goods_num}
													</div>
												</li>
												<li class="td td-operation">
													<div class="item-operation">
														退款/退货
													</div>
												</li>
											</ul>
											</foreach>
										</div>
										<div class="order-right">
											<li class="td td-amount">
												<div class="item-amount">
													合计：{$common.total_money}
													<p>含运费：<span>{$common.express_fee}</span></p>
												</div>
											</li>
											<div class="move-right">
											<!-- status=2 为待收货状态 -->
											<if condition="$common.status eq 2">
												<li class="td td-status">
													<div class="item-status">
														<p class="Mystatus">卖家已发货</p>
														<p class="order-info"><a href="/home/MyDeal/logistics.html">查看物流</a></p>
														<p class="order-info"><a href="#">延长收货</a></p>
													</div>
												</li>
												<li class="td td-change">
													<div class="am-btn am-btn-danger anniu">
														确认收货</div>
												</li>
											<!-- status=1 为待发货状态 -->
											<elseif condition="$common.status eq 1" />
												<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="/home/MyDeal/orderinfo.html?order_id={$Nosent.$key.order_id}&status={$Nosent.$key.status}">取消订单</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	提醒发货</div>
															</li>
											</if>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>

				</div>
				<!--底部-->
				<include file="Person/common/footer" />
				<!-- 底部 -->

			</div>
			<!-- 左边 -->
			<include file="Person/common/left" />
			<!-- 左边 -->
		</div>

	</body>

</html>