<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>订单管理</title>

		<link href="/Public/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="/Public/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="/Public/css/personal.css" rel="stylesheet" type="text/css">
		<link href="/Public/css/orstyle.css" rel="stylesheet" type="text/css">

		<script src="/Public/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="/Public/AmazeUI-2.4.2/assets/js/amazeui.js"></script>

	</head>

	<body>
		<!--头 -->
		<include file="Person/common/header" />
		<!-- 头 -->
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-order">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">所有订单</a></li>
								<li><a href="#tab2">待付款</a></li>
								<li><a href="#tab3">待发货</a></li>
								<li><a href="#tab4">待收货</a></li>
								<li><a href="#tab5">待评价</a></li>
							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											
											<!-- 待付款 -->
											<div class="order-status1">
											<foreach name="nopay_details" item="nopay_detail" key="index">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Nopay.$index.order_id}</a></div>
													<span>成交时间：{$Nopay.$index.addtime|date="Y-m-d H:i:s",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
													<foreach name="nopay_detail" item="vo">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
													</foreach>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Nopay.$index.total_money}
																<p>含运费：<span>{$Nopay.$index.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a order="{$Nopay.$index.order_id}" style="text-decoration:none;color:#000;cursor:pointer;" onclick="cancelOrder(this)">取消订单</a></p>

																</div>
															</li>
															<li class="td td-change">
																<a href="/home/pay/payment.html?order_id={$Nopay.$index.order_id}">
																<div class="am-btn am-btn-danger anniu">
																	一键支付</div></a>
															</li>
														</div>
													</div>

												</div>
											</foreach>
											</div>
											
																						
											
											<!--待发货-->
											<div class="order-status2">
											<foreach name="details" item="detail" key="index">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Nosent.$index.order_id}</a></div>
													<span>成交时间：{$Nosent.$index.addtime|date="Y-m-d H:i:s",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
													<foreach name="detail" item="vo">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																<if condition="$vo.status eq 0">
																	<a href="/home/MyDeal/refund.html?order_id={$Nosent.$index.order_id}&goods_sn={$vo.goods_sn}&goods_status={$vo.status}&status={$Nosent.$index.status}">退款</a>
																<elseif condition="$vo.status eq 1"/>
																	<a href="/home/MyDeal/refund.html?order_id={$Nosent.$index.order_id}&goods_sn={$vo.goods_sn}&goods_status={$vo.status}&status={$Nosent.$index.status}" style="color:red;">等待退款中</a>
																<else/>
																	<a style="color:green;">退款成功</a>
																</if>
																</div>
															</li>
														</ul>
														</foreach>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Nosent.$index.total_money}
																<p>含运费：<span>{$Nosent.$index.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="/home/MyDeal/orderinfo.html?order_id={$Nosent.$index.order_id}&status={$Nosent.$index.status}">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
															<php>
																if($Nosent[$index][remind_sent] == 0){

																	echo "<div class='am-btn am-btn-danger anniu' order_id='".$Nosent[$index][order_id]."' onclick='remindSent(this)'>
																		提醒发货</div>";
																}else{
																	echo '<div class="am-btn am-btn-danger anniu">
																		已提醒发货
																	</div>';
																}
															</php>
															</li>
														</div>
													</div>
												</div>
											</foreach>
											</div>


											<!--待收货-->
											<foreach name="senting_details" item="senting_detail" key="index">
											<div class="order-status3">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Senting.$index.order_id}</a></div>
													<span>成交时间：{$Senting.$index.addtime|date="Y-m-d H:i:s",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
													<foreach name="senting_detail" item="vo">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																<if condition="$vo.status eq 0">
																	<a href="/home/MyDeal/refund.html?order_id={$Senting.$index.order_id}&goods_sn={$vo.goods_sn}&goods_status={$vo.status}&status={$Senting.$index.status}">退款/退货</a>
																<elseif condition="$vo.status eq 1" />
																	<a href="/home/MyDeal/refund.html?order_id={$Senting.$index.order_id}&goods_sn={$vo.goods_sn}&goods_status={$vo.status}&status={$Senting.$index.status}" style="color:red;">等待退款/退货中</a>
																<else/>
																	<a style="color:green;">退款/退货成功</a>
																</if>
																</div>
															</li>
														</ul>
														</foreach>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Senting.$index.total_money}
																<p>含运费：<span>{$Senting.$index.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">卖家已发货</p>
																	<p class="order-info"><a href="/home/MyDeal/orderinfo.html?order_id={$Senting.$index.order_id}&status={$Senting.$index.status}">订单详情</a></p>
																	<p class="order-info"><a href="/home/MyDeal/logistics.html?order_id={$Senting.$index.order_id}&status={$Senting.$index.status}">查看物流</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu" onclick="sureGoods(this)">
																	确认收货</div>
															</li>
														</div>
													</div>
												</div>
											</div>
											</foreach>
											
											
											<!--待评价-->
											<div class="order-status4">
											<foreach name="evaluate_details" item="evaluate_detail">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Evaluate.$key.order_id}</a></div>
													<span>成交时间：{$Evaluate.$key.addtime|date="Y-m-d H:i:s",###}</span>

												</div>
												<div class="order-content">
													<div class="order-left">
														<foreach name="evaluate_detail" item="vo" key="inKey">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="/home/MyDeal/commentlist.html?order_id={$Evaluate.$key.order_id}">请评价商品</a>
																</div>
															</li>
														</ul>
														</foreach>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Evaluate.$key.total_money}
																<p>含运费：<span>{$Evaluate.$key.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="orderinfo.html?order_id={$Evaluate.$key.order_id}&status={$Evaluate.$key.status}">订单详情</a></p>
																	<p class="order-info"><a href="/home/MyDeal/logistics.html">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="/home/MyDeal/commentlist.html?order_id={$Evaluate.$key.order_id}">
																	<div class="am-btn am-btn-danger anniu">
																		评价商品</div>
																</a>
															</li>
														</div>
													</div>
												</div>
											</foreach>
											</div>

											<!-- 退款成功 -->
											<div class="order-status6">
											<foreach name="refund_details" item="refund_detail">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$already_refund.$key.order_id}</a></div>
													<span>成交时间：{$already_refund.$key.addtime|date="Y-m-d H:i:s",###}</span>

												</div>
												<div class="order-content">
													<div class="order-left">
														<foreach name="refund_detail" item="vo" key="inKey">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="javascript:">退款成功</a>
																</div>
															</li>
														</ul>
														</foreach>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$already_refund.$key.total_money}
																<p>含运费：<span>{$already_refund.$key.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus" style="color:red;">交易已关闭</p>
																	<p class="order-info"><a href="orderinfo.html?order_id={$already_refund.$key.order_id}&status={$already_refund.$key.status}">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="/home/MyDeal/change.html">
																	<div class="am-btn am-btn-secondary anniu">
																		退款售后</div>
																</a>
															</li>
														</div>
													</div>
												</div>
											</foreach>
											</div>					

											<!--交易失败-->
											<div class="order-status0">
											<foreach name="cancel_details" item="cancel_detail">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$cancel_order.$key.order_id}</a></div>
													<span>成交时间：{$cancel_order.$key.addtime|date="Y-m-d H:i:s",###}</span>
												</div>
												<div class="order-content">
													<div class="order-left">
													<foreach name="cancel_detail" item="vo" key="index">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	
																</div>
															</li>
														</ul>
													</foreach>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$cancel_order.$key.total_money}
																<p>含运费：<span>{$cancel_order.$key.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus" style="color:red;">交易关闭</p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	删除订单</div>
															</li>
														</div>
													</div>
												</div>
											</foreach>
											</div>

											<!--交易成功-->
											<div class="order-status5">
											<foreach name="evaluated_details" item="evaluated_detail" key="index">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Evaluated.$index.order_id}</a></div>
													<span>成交时间：{$Evaluated.$index.addtime|date="Y-m-d H:i:s",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
													<foreach name="evaluated_detail" item="vo">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	
																</div>
															</li>
														</ul>
													</foreach>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Evaluated.$index.total_money}
																<p>含运费：<span>{$Evaluated.$index.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="/home/MyDeal/orderinfo.html?order_id={$Evaluated.$index.order_id}&status={$Evaluated.$index.status}">订单详情</a></p>
																	<p class="order-info"><a href="/home/MyDeal/logistics.html">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-success anniu">
																	删除订单</div>
															</li>
														</div>
													</div>
												</div>
											</foreach>
											</div>
										</div>

									</div>

								</div>
								<div class="am-tab-panel am-fade" id="tab2">

									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<foreach name="nopay_details" item="nopay_detail" key="index">
									<div class="order-main">
										<div class="order-list">
											<div class="order-status1">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Nopay.$index.order_id}</a></div>
													<span>成交时间：{$Nopay.$index.addtime|date="Y-m-d H:i:s",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
													<foreach name="nopay_detail" item="vo">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
													</foreach>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Nopay.$index.total_money}
																<p>含运费：<span>{$Nopay.$index.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a order="{$Nopay.$index.order_id}" style="text-decoration:none;color:#000;cursor:pointer;" onclick="cancelOrder(this)">取消订单</a></p>

																</div>
															</li>
															<li class="td td-change">
																<a href="/home/pay/payment.html?order_id={$Nopay.$index.order_id}">
																<div class="am-btn am-btn-danger anniu">
																	一键支付</div></a>
															</li>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
									</foreach>
								</div>
								<script>
									function cancelOrder(obj){
										var bool = window.confirm("确定要取消订单吗？");
										if(bool!=true) return;
										var order_id = $(obj).attr("order");
										$.get(
											'/Api/Order/cancelOrder',
											{order_id:order_id},
											function(ret){
												if(ret == 1){
													alert("订单已取消");
													window.location.href="/home/MyDeal/order";
												}else{
													alert("订单取消失败");
												}
											}
										);
									}

									/**
									 * 提醒发货
									 */
									function remindSent(obj){
										var bool = window.confirm("确认提醒卖家发货吗？");
										if( bool != true) return;
										var order_id = $(obj).attr("order_id");
										$.get('/Api/Order/remind',{order_id:order_id},function(ret){
											if(ret==1){
												alert("提醒发货成功");
											}else{
												alert("提醒发货失败");
											}
										});
									}
								</script>
								<div class="am-tab-panel am-fade" id="tab3">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									
									<foreach name="details" item="detail">
									<div class="order-main">
										<div class="order-list">
											<div class="order-status2">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Nosent.$key.order_id}</a></div>
													<span>成交时间：{$Nosent.$key.addtime|date="Y-m-d h:i:s",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
													<foreach name="detail" item="vo" key="innerKey">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package}</p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																<if condition="$vo.status eq 0">
																	<a href="/home/MyDeal/refund.html?order_id={$Nosent.$key.order_id}&goods_sn={$vo.goods_sn}&goods_status={$vo.status}&status={$Nosent.$key.status}">退款</a>
																<elseif condition="$vo.status eq 1" />
																	<a href="/home/MyDeal/refund.html?order_id={$Nosent.$key.order_id}&goods_sn={$vo.goods_sn}&goods_status={$vo.status}&status={$Nosent.$key.status}" style="color:red;">等待退款中</a>
																<else/>
																	<a style="color:green;">退款成功</a>
																</if>
																</div>
															</li>
														</ul>
													</foreach>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Nosent.$key.total_money}
																<p>含运费：<span>{$Nosent.$key.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="/home/MyDeal/orderinfo.html?order_id={$Nosent.$key.order_id}&status={$Nosent.$key.status}">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
															
															<php>
															if($Nosent[$key][remind_sent] == 0){

																echo "<div class='am-btn am-btn-danger anniu' order_id='".$Nosent[$key][order_id]."' onclick='remindSent(this)'>
																	提醒发货</div>";
															}else{
																echo '<div class="am-btn am-btn-danger anniu">
																	已提醒发货
																</div>';
															}
															</php>
															</li>
														</div>
													</div>
												</div>
												
											</div>
										</div>
									</div>
									</foreach>
								</div>

								<!-- 待收货 -->
								<div class="am-tab-panel am-fade" id="tab4">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									
									<foreach name="senting_details" item="senting_detail">
									<div class="order-main">
										<div class="order-list">
											<div class="order-status3">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Senting.$key.order_id}</a></div>
													<span>成交时间：{$Senting.$key.addtime|date="Y-m-d H:i:s",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<foreach name="senting_detail" item="vo" key="inKey">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																<if condition="$vo.status eq 0">
																	<a href="/home/MyDeal/refund.html?order_id={$Senting.$key.order_id}&goods_sn={$vo.goods_sn}&goods_status={$vo.status}&status={$Senting.$key.status}">退款/退货</a>
																<elseif condition="$vo.status eq 1" />
																	<a href="/home/MyDeal/refund.html?order_id={$Senting.$key.order_id}&goods_sn={$vo.goods_sn}&goods_status={$vo.status}&status={$Senting.$key.status}" style="color:red;">等待退款/退货中</a>
																<else/>
																	<a style="color:green;">退款退货成功</a>
																</if>
																</div>
															</li>
														</ul>
														</foreach>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Senting.$key.total_money}
																<p>含运费：<span>{$Senting.$key.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">卖家已发货</p>
																	<p class="order-info"><a href="/home/MyDeal/orderinfo.html?order_id={$Senting.$key.order_id}&status={$Senting.$key.status}">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu" onclick="sureGoods(this)">
																	确认收货</div>
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									</foreach>
								</div>
								
								<!-- 待评价 -->
								<div class="am-tab-panel am-fade" id="tab5">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									
									<foreach name="evaluate_details" item="evaluate_detail">
									<div class="order-main">
										<div class="order-list">
											<div class="order-status4">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$Evaluate.$key.order_id}</a></div>
													<span>成交时间：{$Evaluate.$key.addtime|date="Y-m-d H:i:s",###}</span>

												</div>
												<div class="order-content">
													<div class="order-left">
														<foreach name="evaluate_detail" item="vo" key="inKey">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{$vo.goods_thumb}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$vo.goods_name}</p>
																			<p class="info-little">{$vo.goods_type1}：{$vo.goods_type}
																				<br/>{$vo.goods_type2}：{$vo.goods_package} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$vo.goods_price}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$vo.goods_num}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="/home/MyDeal/commentlist.html?order_id={$Evaluate.$key.order_id}">请评价商品</a>
																</div>
															</li>
														</ul>
														</foreach>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$Evaluate.$key.total_money}
																<p>含运费：<span>{$Evaluate.$key.express_fee}</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="orderinfo.html?order_id={$Evaluate.$key.order_id}&status={$Evaluate.$key.status}">订单详情</a></p>
																	<p class="order-info"><a href="/home/MyDeal/logistics.html">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="/home/MyDeal/commentlist.html?order_id={$Evaluate.$key.order_id}">
																	<div class="am-btn am-btn-danger anniu">
																		评价商品</div>
																</a>
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									</foreach>
								</div>
							</div>

						</div>
					</div>
				</div>
				<script>
				/**
				 * 确认收货
				 * @param 对象
				 */
				function sureGoods(obj){
					var bool = window.confirm("确定要确认收货吗？您的货款将打入商家账户。");
					if(bool!=true) return;
					var order_id = $(obj).parents(".order-content").siblings(".order-title").find(".dd-num").find("a").text();
					$.get(
						'/Api/Order/sureGoods',
						{order_id:order_id},
						function(ret){
							if( ret == 1){
								alert("确认收货成功");
								window.location.href="/home/MyDeal/order.html";
							}
						}
					);
				}
				</script>
				<!--底部-->
				<include file="Person/common/footer" />
				<!-- 底部 -->
			</div>
			<!-- 左边 -->
			<include file="Person/common/left" />
			<!-- 左边 -->
		</div>

	</body>

</html>