<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>退换货</title>

		<link href="/Public/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="/Public/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="/Public/css/personal.css" rel="stylesheet" type="text/css">
		<link href="/Public/css/refstyle.css" rel="stylesheet" type="text/css">

		<script src="/Public/AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
		<script src="/Public/AmazeUI-2.4.2/assets/js/amazeui.js" type="text/javascript"></script>
		<script language="javascript" src="/Public/js/XHRUploader.class.js"></script>
		<script language="javascript" src="/Public/js/Ajax.class.js"></script>

	</head>

	<body>
		<!--头 -->
		<include file="Person/common/header" />
		<!-- 头 -->
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<!--标题 -->
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">退换货申请</strong> / <small>Apply&nbsp;for&nbsp;returns</small></div>
					</div>
					<hr/>
					<div class="comment-list">
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">买家申请退款</p>
                            </span>
							<span class="step-2 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">商家处理退款申请</p>
                            </span>
							<span class="step-3 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">3<em class="bg"></em></i>
                                <p class="stage-name">款项成功退回</p>
                            </span>                            
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					
					
						<div class="refund-aside">
							<div class="item-pic">
								<a href="/home/introduction.html?id={$detail.goods_id}" target="_blank" class="J_MakePoint">
									<img src="{$detail.goods_thumb}" class="itempic">
								</a>
							</div>

							<div class="item-title">

								<div class="item-name">
									<a href="/home/introduction.html?id={$detail.goods_id}" target="_blank">
										<p class="item-basic-info">{$detail.goods_name}</p>
									</a>
								</div>
								<div class="info-little">
									<span>{$detail.goods_type1}：{$detail.type1_name}</span>
									<span>{$detail.goods_type2}：{$detail.type2_name}</span>
								</div>
							</div>
							<div class="item-info">
								<div class="item-ordernumber">
									<span class="info-title">订单编号：</span><a>{$detail.order_id}</a>
								</div>
								<div class="item-price">
									<span class="info-title">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</span><span class="price">{$detail.goods_price}</span>
									<span class="number">×{$detail.goods_num}</span><span class="item-title">(数量)</span>
								</div>
								<div class="item-amount">
									<span class="info-title">小&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计：</span><span class="amount">{$detail.goods_this_cost}元</span>
								</div>
								<div class="item-pay-logis">
									<span class="info-title">运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：</span><span class="price">{$detail.express_fee}元</span>
								</div>
								<div class="item-amountall">
									<span class="info-title">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计：</span><span class="amountall">{$detail.goods_this_total}元</span>
								</div>
								<div class="item-time">
									<span class="info-title">成交时间：</span><span class="time">{$detail.addtime|date="Y-m-d H:i:s",###}</span>
								</div>

							</div>
							<div class="clear"></div>
						</div>
						
						<div class="refund-main">
							<div class="item-comment">
								<div class="am-form-group">
									<label for="refund-type" class="am-form-label">退款类型</label>
									<div class="am-form-content">
									<if condition="$Think.get.status eq 1">
										<select data-am-selected="">
											<option value="仅退款" selected>仅退款</option>
										</select>
									<else/>
										<select data-am-selected="">
											<option value="仅退款" selected>仅退款</option>
											<option value="退款/退货">退款/退货</option>
										</select>
									</if>
									</div>
								</div>
								
								<div class="am-form-group">
									<label for="refund-reason" class="am-form-label" >退款原因</label>
									<div class="am-form-content">
										<select data-am-selected="">
											<option value="未选择原因" selected>请选择退款原因</option>
											<option value="不想要了">不想要了</option>
											<option value="买错了">买错了</option>
											<option value="没收到货">没收到货</option>							
											<option value="与说明不符">与说明不符</option>
										</select>
									</div>
								</div>

								<div class="am-form-group">
									<label for="refund-money" class="am-form-label">退款金额<span>（不可修改）</span></label>
									<div class="am-form-content">
										<input type="text" id="refund-money" readonly="readonly" placeholder="{$detail.goods_this_cost}">
									</div>
								</div>
								<div class="am-form-group">
									<label for="refund-info" class="am-form-label">退款说明<span>（可不填）</span></label>
									<div class="am-form-content">
										<textarea placeholder="请输入退款说明">{$refund_info.refund_info}</textarea>
									</div>
								</div>

							</div>
							<div class="refund-tip">
								<div class="filePic" style="float:left;width:auto;" >
									<input type="file" class="inputPic"  id="one" onclick="upload(this)" >
									<img src="/Public/images/image.jpg" style="display:block;width:80px;height:80px;float:left;">
									
								</div>
								<div class="filePic" style="float:left;width:auto">
									<input type="file" class="inputPic"  id="two" onclick="upload(this)">
									<img src="/Public/images/image.jpg" style="display:block;width:80px;height:80px;float:left;">
								</div>
								<div class="filePic" style="float:left;width:auto">
									<input type="file" class="inputPic"  id="three" onclick="upload(this)">
									<img src="/Public/images/image.jpg" style="display:block;width:80px;height:80px;float:left;">
								</div>
								<!-- <div class="img-box">
									<img src="/Public/images/image.jpg" >
								</div> -->
								<span class="desc" style="margin-top:50px;">上传凭证&nbsp;最多三张</span>
							</div>
							<div class="info-btn">
								<div class="am-btn am-btn-danger" style="float:right;" onclick="sub(this)">提交申请</div>
							</div>
						</div>
						<script>
							/**
							 * 进度条
							 */
							function programList(){
								var status = {$Think.get.goods_status};
								switch(status){
									case 1:  	//待发货状态时进行退款
										$("input").attr("disabled",true);	//禁止上传图片
										$("#one").siblings("img").attr('src','{$refund_info.path.0|default="/Public/images/image.jpg"}');
										$("#two").siblings("img").attr('src','{$refund_info.path.1|default="/Public/images/image.jpg"}');
										$("#three").siblings("img").attr('src','{$refund_info.path.2|default="/Public/images/image.jpg"}');
										$(".u-progress-bar-inner").css("width","49%");
										$(".info-btn").find(".am-btn").attr("disabled",true);	//商家退款中，退款申请按钮不能活动
										setTimeout(function(){
											$(".step-2 .u-stage-icon-inner .bg").animate({opacity:1});
										},1500);
										break;
									case 2:
										$("input").attr("disabled",true);	//禁止上传图片
										$("#one").siblings("img").attr('src','{$refund_info.path.0|default="/Public/images/image.jpg"}');
										$("#two").siblings("img").attr('src','{$refund_info.path.1|default="/Public/images/image.jpg"}');
										$("#three").siblings("img").attr('src','{$refund_info.path.2|default="/Public/images/image.jpg"}');
										$(".u-progress-bar-inner").css("width","101%");
										$(".info-btn").find(".am-btn").attr("disabled",true);	//商家退款中，退款申请按钮不能活动
										setTimeout(function(){
											$(".step-2 .u-stage-icon-inner .bg").animate({opacity:1});
											setTimeout(function(){
												$(".step-3 .u-stage-icon-inner .bg").animate({opacity:1});
											},600);
										},950);
										break;
								}
							}
							document.onload = programList();	//页面加载完成后执行动作

							/**
							 * 异步上传退款凭证图片
							 */
							function upload(obj){
								var goods_sn = '{$Think.get.goods_sn}';
								var id = $(obj).attr("id");
					     		XHRUploader.init({
								handlerUrl: '/Api/Order/uploadPic',
								input: '_imgs[]'
								}).uploadFile(id, {
									'partition'	: 'date',
									'thumb'     : 2,
									'goods_sn'  : goods_sn,
									'order_id'	: '{$Think.get.order_id}',
									'type' 		: '退款凭证',
								},{
									ready: function(ret){
										// alert('zhengzai');
									},
									complete: function(ret){
										//alert('wangcheng');
										if( ret.status == true){
											// 此次上传前的图片数量
											$(obj).siblings("img").attr("src",ret.path);
											var html = '<a style="position:absolute;display:block;width:20px;z-index:200;cursor:pointer;" onclick="delPic(this)">X</a><input type="hidden" name="pic_path[]" value="'+ret.path+'"/>';
											$(obj).parent().append(html);
											$(obj).attr("disabled",true);	//使file不能活动
										}
									}
								});
							}

							/**
							 *	移除凭证图片
							 */
							function delPic(obj){
								var bool = window.confirm("确定要删除吗？");
								if(bool!=true) return;
								var src = $(obj).parent().find("img").attr("src");
								var full_path = "/var/www/shop"+src;
								$.get(	//异步删除已经上传的图片
									'/Api/Order/delCommentPic',
									{full_path:full_path},
									function(ret){
									}
								);
								$(obj).prev().prev().attr("disabled",false);	//使file重新活动
								$(obj).parent().find("img").attr("src","/Public/images/image.jpg");
								$(obj).remove();	//移除"x"符号
							}

							/**
							 * 提交申请
							 */
							function sub(obj){
								var bool = window.confirm("确定提交申请吗？");
								if( bool != true ) return;
								var father = $(obj).parents(".refund-main");	//父级div
								var refund_type = father.find(".am-form-group").eq(0).find("select").val();	//退款类型
								var refund_reason = father.find(".am-form-group").eq(1).find("select").val();//退款原因
								var refund_money = father.find(".am-form-group").eq(2).find("input").attr("placeholder");	//退款金额
								var refund_info = father.find(".am-form-group").eq(3).find("textarea").val();	//退款说明
								var path = [];	//定义数组存储图片地址
								father.find(".refund-tip").find("img").each(function(){
									var src = $(this).attr("src");
									if( src != "/Public/images/image.jpg" ){	//地址不为默认图片时
										path.push(src);
									}
								});
								var info = {};
								info.order_id = '{$Think.get.order_id}';
								info.goods_sn = '{$Think.get.goods_sn}';
								info.refund_type = refund_type;
								info.refund_reason = refund_reason;
								info.refund_money = refund_money;
								info.refund_info = refund_info;
								info.path = path;
								$.post(
									'/Api/Order/refund',
									{info:info},
									function(ret){
										if( ret == 'ok' ){
											alert("退款申请提交成功，请等待商家确认");
											window.location.href="/home/MyDeal/order.html";
										}
									}
								);
							}
						</script>
					</div>
					<div class="clear"></div>
				</div>
				
				<!--底部-->
				<include file="Person/common/footer" />
				<!-- 底部 -->
			</div>

			<!-- 左边 -->
			<include file="Person/common/left" />
			<!-- 左边 -->
		</div>

	</body>

</html>