<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>搜索页面</title>

		<link href="/Public/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="/Public/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />
		<link href="/Public/basic/css/demo.css" rel="stylesheet" type="text/css" />
		<link href="/Public/css/seastyle.css" rel="stylesheet" type="text/css" />
		<!-- <link href="/Public/css/page.css" rel="stylesheet" type="text/css"/> -->

		<script type="text/javascript" src="/Public/basic/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="/Public/js/script.js"></script>
	</head>

	<body>

		<!-- 头部 -->
		<include file="FrontCommon/header" />
		<!-- 头部 -->

			<div class="clear"></div>
			<b class="line"></b>
           <div class="search">
			<div class="search-list">
			<div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			
				
					<div class="am-g am-g-fixed">
						<div class="am-u-sm-12 am-u-md-12">
	                  	<div class="theme-popover">														
							<!-- <div class="searchAbout">
								<span class="font-pale">相关搜索：</span>
								<a title="坚果" href="#">坚果</a>
								<a title="瓜子" href="#">瓜子</a>
								<a title="鸡腿" href="#">豆干</a>

							</div> -->
							<ul class="select">
								<p class="title font-normal">
									<span class="fl"><a style="color:red;">
									<!-- 
										先抓取关键词key_word,如果没有sec_cat搜索词时，则显示key_word，否则显示sec_cat。
									 -->
									<php>$key_word = $_GET['key_word']</php>
									{$Think.get.sec_cat|default="$key_word"}</a></span>
									<span class="total fl">搜索到<strong class="num">{$goods_num}</strong>件相关商品</span>
								</p>
								<div class="clear"></div>
								<li class="select-result">
									<dl>
										<dt>已选</dt>
										<dd class="select-no"></dd>
										<p class="eliminateCriteria">清除</p>
									</dl>
								</li>
								<div class="clear"></div>
								<li class="select-list">
									<dl id="select1">
										<dt class="am-badge am-round">品牌</dt>	
									
										 <div class="dd-conent">										
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<foreach name="brand" item="vo">
											<dd><a href="javascript:void(0)">{$vo}</a></dd>
											</foreach>
										 </div>
						
									</dl>
								</li>
								<li class="select-list">
									<dl id="select2">
										<dt class="am-badge am-round">种类</dt>
										<div class="dd-conent">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<foreach name="category" item="vo">
											<dd><a href="javascript:void(0)" ><i category_id="{$category_id.$key}">{$vo}</i></a></dd>
											</foreach>
										</div>
									</dl>
								</li>
								<li class="select-list">
									<dl id="select3">
										<dt class="am-badge am-round">选购热点</dt>
										<div class="dd-conent">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<foreach name="hot_spot" item="vo">
											<dd><a href="javascript:void(0);">{$vo}</a></dd>
											</foreach>
										</div>
									</dl>
								</li>
					        
							</ul>
							<div class="clear"></div>
                        </div>
							<div class="search-content">
								<div class="sort">
								<php>if(isset($_GET['sec_cat'])) $extra="sec_cat=".$_GET['sec_cat']."&";</php>
									<switch name="order">
									<case value="price_desc">
										<li class="first"><a href="/home/search.html?order=common&{$extra}key_word={$Think.get.key_word}" title="综合">综合排序</a></li>
										<li><a title="销量" href="/home/search.html?order=sales&{$extra}key_word={$Think.get.key_word}" order="sales">销量从高到低</a></li>
										<li><a title="价格" href="/home/search.html?order=price_asc&{$extra}key_word={$Think.get.key_word}">价格优先&nbsp;&darr;</a></li>
										<li class="big"><a title="评价" href="/home/search.html?order=comment&{$extra}key_word={$Think.get.key_word}">评价为主</a></li>
									</case>
									<case value="price_asc">
										<li class="first"><a href="/home/search.html?order=common&{$extra}key_word={$Think.get.key_word}" title="综合">综合排序</a></li>
										<li><a title="销量" href="/home/search.html?order=sales&{$extra}key_word={$Think.get.key_word}" order="sales">销量从高到低</a></li>
										<li><a title="价格" href="/home/search.html?order=price_desc&{$extra}key_word={$Think.get.key_word}">价格优先&nbsp;&uarr;</a></li>
										<li class="big"><a title="评价" href="/home/search.html?order=comment&{$extra}key_word={$Think.get.key_word}">评价为主</a></li>
									</case>
									<default/>
										<li class="first"><a href="/home/search.html?order=common&{$extra}key_word={$Think.get.key_word}" title="综合">综合排序</a></li>
										<li><a title="销量" href="/home/search.html?order=sales&{$extra}key_word={$Think.get.key_word}" order="sales">销量从高到低</a></li>
										<li><a title="价格" href="/home/search.html?order=price_asc&{$extra}key_word={$Think.get.key_word}">价格优先</a></li>
										<li class="big"><a title="评价" href="/home/search.html?order=comment&{$extra}key_word={$Think.get.key_word}">评价为主</a></li>
									</switch>
								</div>
								<div class="clear"></div>
								
								<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
								<eq name="error" value="1">
									<li>
										<div class="i-pic limit">
											<img src="/Public/images/notfound.gif"/>
											<p class="title fl"></p>
											<p class="price fl">
												<b>¥</b>
												<strong>0</strong>
											</p>
											<p class="number fl">
												销量<span>0</span>
											</p>
										</div>
									</li>
								<else/>
								<foreach name="goods_info" item="goods">
									<li>
										<div class="i-pic limit">
										<a href="/home/introduction.html?id={$goods.goods_id}">
											<input type="hidden" value="{$goods.rel_info}"/>
											<img src="{$goods.thumb}" />
											<p class="title fl">{$goods.goods_name}</p>
											<p class="price fl">
												<b>¥</b>
												<strong>{$goods.goods_discount}</strong>
											</p>
											<p class="number fl">
												销量<span>{$goods.cumulative_sales}</span>
											</p>
										</a>
										</div>
									</li>
								</foreach>
								</eq>
								</ul>
							</div>
							<script>

							</script>
							<div class="search-side">

								<div class="side-title">
									经典搭配
								</div>

								<li>
									<div class="i-pic check">
										<img src="/Public/images/cp.jpg" />
										<p class="check-title">萨拉米 1+1小鸡腿</p>
										<p class="price fl">
											<b>¥</b>
											<strong>29.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>
								<li>
									<div class="i-pic check">
										<img src="/Public/images/cp2.jpg" />
										<p class="check-title">ZEK 原味海苔</p>
										<p class="price fl">
											<b>¥</b>
											<strong>8.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>
								<li>
									<div class="i-pic check">
										<img src="/Public/images/cp.jpg" />
										<p class="check-title">萨拉米 1+1小鸡腿</p>
										<p class="price fl">
											<b>¥</b>
											<strong>29.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>

							</div>
							<div class="clear"></div>
							<!--分页 -->
							<ul class="am-pagination am-pagination-right">
								{$page}
								
								<!-- <li class="am-disabled"><a href="#">&laquo;</a></li>
								<li class="am-active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li> -->
							</ul>
						</div>
						<script>
							var div = $(".am-pagination").find("div");
							div.parent().append( div.children() );
							div.remove();
							
							var p = '{$Think.get.p}';	//当前页码
							$(".am-pagination").children().each(function(){
								if( $(this).text() == p ){
									$(this).wrap("<li class='am-active'></li>");
								}else{
									$(this).wrap("<li></li>");
								}
							});
						</script>
					</div>
					<!--底部-->
					<include file="Person/common/footer" />
					<!-- 底部 -->
				</div>

			</div>

		<!--引导 -->
		<div class="navCir">
			<li><a href="home2.html"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>	
			<li><a href="/Public/person/index.html"><i class="am-icon-user"></i>我的</a></li>					
		</div>

		<!--菜单 -->
		<include file="FrontCommon/rightNav" />
		<!--菜单 -->
		<script>
			window.jQuery || document.write('<script src="basic/js/jquery-1.9.min.js"><\/script>');
			function locate(){
				window.location.href="/home/pay/shopcart.html?redirectURL={$redirectURL|urlencode}";
			}
		</script>
		<script type="text/javascript" src="/Public/basic/js/quick_links.js"></script>

<div class="theme-popover-mask"></div>

	</body>

</html>